<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.oicp.yorick61c.mapper.body_exam.ExamItemExamDataItemMappingMapper">


    <select id="selectExamDataItemIdByExamId" parameterType="int" resultType="long">
        select
            item_id
        from
            exam_item_data_item_mapping
        where
            exam_id = #{examId}
    </select>

    <insert id="saveExamValue">
        insert into
            exam_result
        values
            (#{examinationId}, #{examId}, #{itemId}, #{itemValue})
    </insert>

</mapper>